:root{
    --pri:#F8F4E1;
    --sec: #381c0a;
    --tri1: #FEBA17;
    --tri2:#74512D;
}
@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    color : white;
    font-family: aeonik;
    color : var(--pri)

}

html,body{
    height : 100%;
    width : 100%;
}

#main {
    height : 100%;
    width : 100%;
background-color: var(--sec);
    
}

nav {
    position : fixed;
    width : 100%;
    height : 60px;
    background-color: var(--tri2) ;
}
section.allElems{
    height : 100%;
    width : 100%;
    padding : 40px;
    padding-top : 80px;
    display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap : 40px;
   position: absolute;
    
}

.elem {
    background-color: #FEBA17;
    border-radius: 10px;
    font-size: 30px;
    height : 400px;
    width : 330px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2 s; 
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}

.elem img {
    height : 100%;
    width : 100%;
    object-fit: cover;
     
}

.elem h2{
    position: absolute;
    bottom : 4%;
    right : 5%;
    font-weight: 500;
    font-size: 33px;

}

.elem:active{
    scale : 0.97;

}

.fullElem{
    height :  100%;
    width : 100%;
    background-color: #381c0a;
    padding : 40px;
    display: none;
    font-size: 60px;
    position: absolute;
}

.back {
    position: absolute;
    background-color: red;
    border-radius: 10px;
    right : 5%;
    padding : 20px 22px;
    font-size: 25px;
    font-weight: 600;
    border : none;
    cursor: pointer;

}
.back:active {
    scale: 0.97;
}