:root{
    --pri:#F8F4E1;
    --sec: #381c0a;
    --tri1: #FEBA17;
    --tri2:#74512D;
    --red: red;
}
@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    color : white;
    font-family: aeonik;
    color : var(--pri)

}

html,body{
    height : 100%;
    width : 100%;
}

#main {
    height : 100%;
    width : 100%;
background-color: var(--sec);
    
}

nav {
    position : fixed;
    width : 100%;
    height : 60px;
    background-color: var(--tri2) ;
}
section.allElems{
    height : 100%;
    width : 100%;
    padding : 40px;
    padding-top : 80px;
    display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap : 40px;
   position: absolute;
    
}

.elem {
    background-color: #FEBA17;
    border-radius: 10px;
    font-size: 30px;
    height : 400px;
    width : 330px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2 s; 
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}

.elem img {
    height : 100%;
    width : 100%;
    object-fit: cover;
     
}

.elem h2{
    position: absolute;
    bottom : 4%;
    right : 5%;
    font-weight: 500;
    font-size: 33px;

}

.elem:active{
    scale : 0.97;

}

.fullElem{
    height :  100%;
    width : 100%;
    background-color: #381c0a;
    padding : 40px;
    display: none;
    font-size: 60px;
    position: absolute;
}

.back {
    position: absolute;
    background-color: var(--red);
    border-radius: 10px;
    right : 5%;
    padding : 20px 22px;
    font-size: 25px;
    font-weight: 600;
    border : none;
    cursor: pointer;

}
.back:active {
    scale: 0.97;
}



.todo-list-fullpage h2{
    font-size: 70px;
}
.todo-list-fullpage .todo-container {
height : 80%;

width : 100%;
margin-top : 40px;
display: flex;
align-items: center;
justify-content: space-between;
}
.todo-list-fullpage .todo-container .addtask{
    width : 33%;
    background-color: var(--tri2);
    height : 100%;
    border-radius: 20px;
}
.todo-list-fullpage .todo-container .alltask{
    width : 65%;
    background-color: var(--tri2);
    height : 100%;
    border-radius: 20px;

}

.todo-list-fullpage .todo-container .addtask form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 30px;
}

.todo-container .addtask form #task-input {
    padding : 10px 25px;
    width : 100%;
    font-size: 28px;
    background-color: var(--pri);
    color : var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
     
}

.todo-container .addtask form textarea {
    padding : 10px 25px;
    width : 100%;
    font-size: 28px;
      background-color: var(--pri);
    color : var(--sec); 
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 500;
     
}

.todo-container .addtask form button {
    padding : 10px 25px;
    width : 100%;
    font-size: 26px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
     font-weight: 700;
     transition: all ease 0.3sec;
}
.todo-container .addtask form button:active {
    scale : 0.96;
}

.todo-list-fullpage .todo-container .alltask{
    width : 65%;
    background-color: var(--tri2);
    height : 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 30px;
    overflow: auto;

}
.task {
    display : flex;
    align-items: center;
    justify-content: space-between;
    width : 100%;
    background-color: var(--pri);
    padding : 20px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.task h5{
    color : var(--sec);
    font-size: 30px;
    display: flex;
    align-items: center;
    gap : 10px;

}

.task h5 span{
    background-color: var(--red);
    color : var(--pri);
    padding : 4px 6px;
    border-radius: 50px;
    font-size: 15px;

}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity:    0;
}
.task button {
    padding : 15px 30px;
    color : var(--pri);
    background-color: green;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

.task button:active{
    scale : 0.96;
}

.mark-imp{
    display : flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    width : 100%;
    padding : 10px 10px; 
    margin-bottom: 20px;
    gap : 30px;
}

.mark-imp input {
    scale : 1.7;
}
.mark-imp label {
 font-size: 20px;
}


.daily-planner-fullpage{
    display : block;
}

.daily-planner-fullpage h2{
    font-size: 70px;
}

.daily-planner-fullpage .day-planner{
    background-color: var(--tri2);
    height : 85%;
    margin-top: 40px;
    width : 100%;
    border-radius: 10px;
    padding : 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time{

    display: flex;
    align-items: center;
    position: relative;
    width : 49%;
    margin-bottom: 15px;
}

.day-planner .day-planner-time p{
    position: absolute;
    top : 10%;
    left : 2%;
    font-size: 24px;
}
.day-planner .day-planner-time input {
    padding : 20px 45px;
    width : 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 30px;
    padding-top: 32px;
    outline: none;

}